html{height:100%;}
body{
  background:$cream;
  color:$black;
  font-size:1.4em;
  height:100%;
}

h1{
  display:inline-block;
  font-size:2em;
  padding-bottom:1rem;
  font-family:$display;
  border-bottom:2px solid $highlight;
  margin-bottom:1rem;
  // margin-right:1rem;
  
  transition:right;
  transition-duration:1s;

  position:absolute;
  right:105%;
  @include bp(d1){
    position:relative;
    right:0;
  }
  // text-transform:uppercase;
}
h2{
  display:inline-block;
  font-size:1.4em;
  padding-bottom:.5rem;
  border-bottom:2px solid $highlight;
  margin-bottom:.5rem;
  font-family:$display;
}
h3{
  font-size:1em;
  // color:$highlight;
  font-family:$display;
  padding-bottom:1rem;
}
h4{
  font-family:$display;
}

p{
  padding:0 0 1em 0;
  font-family:$text;
}

a{
  color:$black;
  text-decoration:none;
  background:rgba($highlight,.3);
  transition:background,color;
  transition-duration:.2s;
  &:hover{
    background:rgba($highlight,1);
    // color:$white;
  }
}

ul{
  display:block;
  padding-bottom:2em;
}

li{
  list-style:none;
  margin:1em 0;
  padding-left:1em;
  border-left:2px solid $highlight;
  // font-style:italic;
  p{
    font-style:italic;
    padding:.5em 0 0 0;
  }
}

blockquote{
  color:$highlight;
  margin-left:-15%;
  width:130%;
  padding:2em 0;
  font-size:1.2em;
  @include bp(d1){
    width:100%;
    margin-left:0;
  }
}

blockquote,blockquote p{
  font-family:$display;
}

section{
  margin-bottom:6em;
  min-height:100%;
  @include bp(d1){margin-bottom:2em;}
}

.name92{
  color:$highlight;
  // font-style:italic;
}

.backToTop{
  font-family:$display;
  // font-style:italic;
  text-transform:uppercase;
  font-size:.6em;
  display:block;
  padding-bottom:.5rem;
  background:none;
  color:darken($cream,20%);
  &:hover{
    background:none;
    color:$highlight;
  }
}

.tr{
  @extend %cf;
  // background:rgba($highlight,.2);
  font-family:$display;
  border-bottom:1px solid rgba($highlight,.2);
  &:last-of-type{border-bottom:0;}
  // &:nth-of-type(2n){background:rgba($highlight,.1);}
  div{
    padding:.5em;
    width:50%;
    float:left;
    &:first-of-type{text-align:right;}
    &:nth-of-type(2n){
      color:$highlight;
    }
  }
}

.contactLink{
  font-family:$display;
}