@media print {
    body{
        background:none;
        color:#000;
    }

    .backToTop{
        display:none;
    }

    a{
        color:#000;
        background:none;
    }

    p{
        orphans:3;
        widows:3;
    }

    h1{
        position:relative !important;
        right:0 !important;
        margin-bottom:2em;
        transition:none;
        transition-duration:0;
    }

    .pageLinksWrapper{
        display:none;
    }

    .name92{color:#000;}

    .newPrintPage{
        page-break-before:left;
    }
}