::-moz-selection {
  color: #fff;
  background: #555; }

::selection {
  color: #fff;
  background: #555; }

a::-moz-selection {
  color: #555;
  background: #fff; }

a::selection {
  color: #555;
  background: #fff; }

@font-face {
  font-family: 'iconFont';
  src: url('../fonts/icons/icons.eot');
  src: url('../fonts/icons/icons.eot?#iefix') format('embedded-opentype'), url('../fonts/icons/icons.woff') format('woff'), url('../fonts/icons/icons.ttf') format('truetype'), url('../fonts/icons/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal; }

.clearfix:before, .clearfix:after {
  content: ' ';
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

.wrapper {
  width: 96%;
  max-width: 24em;
  margin: 0 auto; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  font-size: 100%; }

em {
  font-style: italic; }

strong {
  font-weight: 600; }

body {
  background: #f6f6f6;
  color: #555;
  font-size: 1.4em; }

h1 {
  font-size: 1.6em;
  padding-bottom: 1rem;
  font-family: "P22 Underground W01", sans-serif;
  border-bottom: 2px solid #39cccc;
  margin-bottom: 1rem; }

h2 {
  font-size: 1.2em;
  padding-bottom: 1rem;
  font-family: "P22 Underground W01", sans-serif; }

h3 {
  color: #39cccc;
  font-family: "P22 Underground W01", sans-serif;
  padding-bottom: 1rem; }

p {
  padding: 0 0 1em 0;
  font-family: "Monotype Baskerville W01", helvetica, georgia, serif; }

.name92 {
  color: #39cccc;
  font-style: italic; }

img {
  max-width: 100%; }

.wp-caption {
  max-width: 100%; }

img.alignright, .wp-caption.alignright {
  width: auto;
  float: right;
  margin: 0 0 1em 1em; }

img.alignleft, .wp-caption.alignleft {
  width: auto;
  float: left;
  margin: 0 1em 1em 0; }

img.aligncenter, .wp-caption.aligncenter {
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.alignright {
  float: right; }

.alignleft {
  float: left; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption-text {
  padding: 0.5em 0;
  font-style: italic; }

.socialLinks p {
  padding: 0 0 0.5em 0; }
.socialLinks .socialLink {
  float: left;
  padding-right: 0.5em; }
  .socialLinks .socialLink a {
    font-size: 1.5em;
    text-decoration: none; }
    .socialLinks .socialLink a:hover {
      color: #fff; }
  .socialLinks .socialLink a:before {
    font-family: 'iconFont';
    content: "\e001";
    font-size: 2em; }
  .socialLinks .socialLink a.twitter:before {
    content: "\e02b"; }
  .socialLinks .socialLink a.facebook:before {
    content: "\e029"; }
  .socialLinks .socialLink a.instagram:before {
    content: "\e030"; }

.tableBlock {
  margin: 1em 0 4em 0; }

.tableRow {
  padding: 0.5em 0; }

.tableItem {
  font-size: 1.4em;
  width: 50%;
  float: left;
  text-align: center; }
  .tableItem.tableItemOne {
    text-align: right;
    padding-right: 1em; }
  .tableItem.tableItemTwo {
    text-align: left;
    padding-left: 1em; }

.wrapper {
  padding: 2em 0; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

